<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.langleystudios.net/dsl/AvroSchema" 
       class = "net.langleystudios.dsl.avroSchema.AvroSchemaPackage"
       genModel = "model/generated/AvroSchema.genmodel" /> 
	
  </extension>



</plugin>
